# SQL movies & directors

## Importing libraries

In [3]:
import pandas as pd

/Users/samtims/.pyenv/versions/3.8.12/envs/frieda/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Connecting database

In [27]:
import sqlite3
conn = sqlite3.connect('movies.sqlite')
c = conn.cursor()

## Checking data

In [34]:
c.execute("SELECT * FROM movies") 
movies = c.fetchall()

In [35]:
col_names_movies = list(map(lambda x: x[0], c.description))
col_names_movies

['title',
 'rating',
 'vote_count',
 'start_year',
 'minutes',
 'genres',
 'imdb_id',
 'id',
 'director_id']

### movies dataframe

In [36]:
movies_df = pd.DataFrame(movies, columns=[col_names_movies])
movies_df.head()

,title,rating,vote_count,start_year,minutes,genres,imdb_id,id,director_id
0,A Trip to the Moon,8.2,39710,1902,13.0,"Action,Adventure,Comedy",tt0000417,1,1
1,The Great Train Robbery,7.3,15526,1903,11.0,"Action,Crime,Short",tt0000439,2,2
2,The Birth of a Nation,6.4,20774,1915,195.0,"Drama,History,War",tt0004972,3,4
3,Intolerance: Love's Struggle Throughout the Ages,7.8,13051,1916,163.0,"Drama,History",tt0006864,4,4
4,The Cabinet of Dr. Caligari,8.1,51029,1920,76.0,"Fantasy,Horror,Mystery",tt0010323,5,5

In [38]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9875 entries, 0 to 9874
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (title,)        9875 non-null   object
 1   (rating,)       9875 non-null   object
 2   (vote_count,)   9875 non-null   int64
 3   (start_year,)   9875 non-null   int64
 4   (minutes,)      9838 non-null   float64
 5   (genres,)       9875 non-null   object
 6   (imdb_id,)      9875 non-null   object
 7   (id,)           9875 non-null   int64
 8   (director_id,)  9875 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 694.5+ KB

### directors dataframe

In [39]:
c.execute("SELECT * FROM directors") 
directors = c.fetchall()

In [40]:
col_names_director = list(map(lambda x: x[0], c.description))
col_names_director

['name', 'birth_year', 'death_year', 'imdb_director_id', 'id']

In [41]:
directors_df = pd.DataFrame(directors, columns=[col_names_director ])
directors_df.head()

              name birth_year death_year imdb_director_id  id
0   Georges Méliès     1861.0     1938.0        nm0617588   1
1  Edwin S. Porter     1870.0     1941.0        nm0692105   2
2    D.W. Griffith     1875.0     1948.0        nm0000428   4
3     Robert Wiene     1873.0     1938.0        nm0927468   5
4  Charles Chaplin     1889.0     1977.0        nm0000122  13